<div class="container-fluid">
<h4>Replay Subject!</h4>
<div class="row">
<div class="col-sm-6">
  <div class="form-group">
      <label for="usr">Message:</label>
      <input [(ngModel)]="message" name="message" type="text" class="form-control" id="msg">
      <button [disabled]="message==''" type="button" class="btn btn-success" (click)="sendMessage(message)">SendMessage</button>
  </div>
</div>
<div class="col-sm-3" style="text-align:right;">
<h6>*Set the buffer value to emit when subscriber subscribe</h6>
</div>
<div class="col-sm-3">
    <div class="col-xs-1">
        <input type="number" [(ngModel)]="buffer"  type="text" style="width:3em">&nbsp;&nbsp;
        <button type="button" class="btn btn-success" (click)="ResetBuffer(buffer)">Set</button>
    </div>
</div>
</div>
<div class="row">
<div class="col-sm-2" style="background-color: #ffebcc;">
<table class="table">
    <thead>
        <tr>
            <th>
                Subscriber1
                <button [hidden]="subscribed1" type="button" class="btn btn-info" (click)="subscribe(1)"> Subscribe</button>
                <button [hidden]="subscribed1" type="button" class="btn btn-Warning" (click)="unSubscribe(1)"> Un-Subscribe</button>
                &nbsp;&nbsp;<button [hidden]="subscriber1Messages.length==0" type="button" class="btn btn-danger" (click)="clearMessage(1)">Clear All</button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let message of subscriber1Messages, index as i">
            <td>{{message}}</td>
        </tr>
    </tbody>
 </table>
</div>
</div>
</div>


