
<!--<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" #sidenav opened position="start">
    My App
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      Home
      <span class="toolbar-spacer"></span>
      Logout
      
    </mat-toolbar>
  -->
      
<div class="main-content">
    
<div class="flex-container" fxLayoutAlign="center center" fxFlexFill>
    <mat-card class="login-card" fxFlex="30" >
      <mat-card-title style="text-align:center;">Login</mat-card-title>

        <mat-card-content>
        <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="signinForm"  (ngSubmit)="onSubmit()" ngNativeValidate>
          <div fxLayout="column">


            <mat-form-field>
                <input matInput type="email"  placeholder="Username" formControlName="username" [(ngModel)]="username"  [ngClass]="{ 'is-invalid':submitted && f.username.errors}" />
                <mat-icon matSuffix>email</mat-icon>
                <div *ngIf="submitted && f.username.errors">
                <div *ngIf="f.username.errors.required">Username is required</div>
              </div>
            </mat-form-field>
  
   
  
            <mat-form-field>
              <input matInput type="password"  placeholder="Password" formControlName="password" [(ngModel)]="password" [ngClass]="{ 'is-invalid':submitted && f.password.errors}" />
              <mat-icon matSuffix>lock</mat-icon> 
              <div *ngIf="submitted && f.password.errors">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
            </mat-form-field>
   
  
  
            <button matInput mat-raised-button color="primary"  type="submit" class="button">Login</button>
            
          </div>

          <nav>
            <a routerLink="/register" routerLinkActive="active">New User? Click here to Register</a>
          </nav>

        </form>
      </mat-card-content>
  
   
  
    </mat-card>
  </div>

</div>
<!--
</mat-sidenav-content>
</mat-sidenav-container>
-->
   
    




<!--
    <mat-card fxFlex="30" class="mat-elevation-z12">
      <mat-card-title style="text-align:center;">SignIn/SignUp</mat-card-title>
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
        <mat-tab label="Sign In">
            <mat-card-content>
              <form action="" fxLayoutAlign="stretch" fxLayout="column">
  
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Email"
                    required
                    name="email"
                    ngModel
                    #email="ngModel">
                    <mat-error *ngIf="email.invalid">Email is required</mat-error>
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
  
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Password"
                    type="password"
                    required
                    minlength="6"
                    name="password"
                    ngModel
                    #password="ngModel">
                    <mat-error
                      *ngIf="password.errors && password.errors.required">
                      Password is required
                    </mat-error>
  
                    <mat-error
                      *ngIf="password.errors && password.errors.minlength">
                      Password must be of length 6
                    </mat-error>
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
  
                <mat-checkbox>Remember Me!</mat-checkbox>
                <button
                  mat-raised-button
                  color="primary"
                  class="login-button">
                  Sign In
                </button>
                </form>
                </mat-card-content>
                </mat-tab>
                </mat-tab-group>
                </mat-card>
                </div>
              -->